body {
  background-color: #3C20C5;
  color: #FFFDD0;
  font-family: "Inconsolata", monospace;
  margin: 0;
  padding: 0;
}

ul {
  font-family: "Inconsolata", monospace;
}

header {
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-family: "Micro 5", sans-serif;
  font-size: 42pt;
}

a {
  color: #FF9900;
}

h2 {
  border-bottom: 2px solid #F5F5DC;
  font-family: "Micro 5", sans-serif;
  font-size: 28pt;
}

.event {
  border: 1px solid #F5F5DC;
  padding: 12px;
  margin: 10px 10px 20px 10px;
}

.event h3 {
  color: #ffffff;
  font-family: "Micro 5", sans-serif;
  font-size: 24pt;
  padding: 0;
  margin: 0;
}

.event h4 {
  color: #ffaaaa;
  font-family: "Micro 5", sans-serif;
  font-size: 20pt;
  padding: 0;
  margin: 0;
}

p {
  margin: 5px 0;
}

#container {
  margin: 0px auto;
  padding: 20px;
  max-width: 800px;
}

/* Spinner */
.lds-ellipsis,
.lds-ellipsis div {
  box-sizing: border-box;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33.33333px;
  width: 13.33333px;
  height: 13.33333px;
  border-radius: 50%;
  background: currentColor;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

